<div id="login-signup">
    <div class="container">
        <div class="rec-shap">
            <div class="logo"><img src="assets/images/logo.png" id="logo"></div>
            <form class="login_form">
                <h5 class="login-txt">Register</h5>
                <div class="form-group">
                    <input type="tex" name="name" placeholder="Name" id="name" required="required" class="form-control">
                </div>
                <div class="form-group">
                    <input type="email" name="email" placeholder="Email" id="email" required="required" class="form-control">
                </div>
                <div class="form-group">
                    <input type="password" name="password" placeholder="Password" id="password" required="required" class="form-control">
                </div>
                <div class="form-group">
                    <input type="password" name="repassword" placeholder="Confirm password" id="repassword" required="required" class="form-control">
                </div>
                <div class="form-group">
                    <input type="number" name="phone" placeholder="Phone" id="phone" required="required" class="form-control">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn1"> Register </button>
                </div>
                <div class="form-group">
                    <a href="/signin">
                        <button type="button" class="btn1"> Have your account? </button>
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>